<ion-radio ng-model="vm.newActivity.type" ng-value="'single'">
	<div class="circle-select">1</div>
	<div class="select">A single occurrence</div>
</ion-radio>
<ion-radio ng-model="vm.newActivity.type" ng-value="'multi'">
	<div class="circle-select">#</div>
	<div class="select">Multiple occurrences</div>
</ion-radio>
<ion-radio ng-model="vm.newActivity.type" ng-value="'duration'">
	<div class="circle-select"><i class="ion-ios-stopwatch-outline"></i></div>
	<div class="select">A timed duration</div>
</ion-radio>
<ion-radio ng-model="vm.newActivity.type" ng-value="'countdown'">
	<div class="circle-select"><i class="ion-ios-timer-outline"></i></div>
	<div class="select">A preset duration</div>
</ion-radio>