<ion-view title="UNIVERAL TRACKER">
  <ion-nav-buttons side="left" class="settings-icon">
    <a class="button button-positive ion-plus bar-main" ng-click="vm.addActivity()"></a>
  </ion-nav-buttons>
  <ion-nav-buttons side="right" class="settings-icon">
    <a class="button button-positive ion-gear-a bar-main" href="#/tab/dash/edit"></a>
  </ion-nav-buttons>
  <ion-content class="padding custom-content">
    <ion-list>
      <ion-item ng-repeat="activity in vm.activities track by $index" type="item-text-wrap" ng-class="{'selected': activity.interval != undefined}">
        <!-- single activity -->
        <div ng-if="activity.type === 'single'" class="item_description" ng-click="vm.logSingle(activity)">
          <div class="activity_title">
            {{activity.name}}
          </div>
          <div class="circle right" ng-class="{'duration_seconds_selected': activity.interval != undefined}">
            1
          </div>
        </div>

        <!-- multi activity -->
        <div ng-if="activity.type === 'multi'" class="item_description" ng-click="vm.logMulti(activity)">
          <div class="activity_title">
            {{activity.name}}
          </div>
          <div class="circle right" ng-class="{'duration_seconds_selected': activity.interval != undefined}">
            #
          </div>
        </div>

        <!-- duration activity -->
        <div ng-if="activity.type === 'duration'" class="item_description" ng-click="vm.logDuration(activity)">
          <div class="activity_title">{{activity.name}} </div>
          <div class="activity_duration">
            <div class="duration_time" ng-class="{'duration_time_selected': activity.interval != undefined}">
              {{ activity.duration | millisecondsToStringFilter | durationPartFilter}}
            </div>
            <div class="circle" ng-class="{'duration_seconds_selected': activity.interval != undefined}">
              <div class="duration_seconds" ng-show="activity.duration"></div>
            </div>
          </div>
        </div>

        <!-- timer activity -->
        <div ng-if="activity.type === 'countdown'" class="item_description" ng-click="vm.logCountdown(activity)">
          <div class="activity_title">{{activity.name}} </div>
          <div class="activity_duration">
            <div class="duration_time" ng-class="{'duration_time_selected': activity.interval != undefined}">
              {{ activity.remaining | millisecondsToStringFilter | durationPartFilter}}
            </div>
            <div class="circle" ng-class="{'duration_seconds_selected': activity.interval != undefined}">
              <i class="ion-ios-stopwatch-outline"></i>
              <div class="duration_seconds" ng-show="activity.duration"></div>
            </div>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
