<ion-tabs class="tabs-icon-top">
  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon="icon ion-home" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Charts Tab -->
  <ion-tab title="Charts" icon="icon ion-ios7-pulse-strong" href="#/tab/charts">
    <ion-nav-view name="tab-charts"></ion-nav-view>
  </ion-tab>

  <!-- History Tab -->
  <ion-tab title="History" icon="icon ion-clock" href="#/tab/history">
    <ion-nav-view name="tab-history"></ion-nav-view>
  </ion-tab>

</ion-tabs>
