<ion-view title="History">
  <ion-content class="padding custom-content">
	
  	<div class="list" ng-repeat="date in vm.dates">	
        <div class="item item-divider item-center">
          {{ date|humanize }}
        </div>
        <a class="item" 
          ng-repeat="item in vm.events[date] track by $index"
          ng-click="vm.showChart(item.action, item.type)">
          <div class="item_description" style="width: 90%">
            <span class="activity_title">{{ item.action }}</span> 
          </div>

          <div class="item_controls" ng-if="item.duration">
            <span class="activity_duration history_duration" ng-init="duration=vm.humanizeTime(item.duration)">
              <b ng-show="duration.hours">{{ duration.hours }}h </b>
              <b ng-show="duration.minutes">{{ duration.minutes }}m </b>
              <b ng-show="duration.seconds">{{ duration.seconds }}s </b>
            </span>
          </div>
          <div class="item_controls" ng-if="item.amount">
            <span class="activity_duration history_duration">
              <b>{{ item.amount }}</b>
            </span>
          </div>
        </a>
  	</div>

    <button ng-hide="!vm.isLocal" class="button button-block button-positive" ng-click="vm.clearHistory()">
      Clear History
    </button>
  </ion-content>
</ion-view>
