<div class="row">
	<div class="col">Hours:</div>
	<div class="col">Minutes:</div>
	<div class="col">Seconds:</div>
</div>
<div class="row">
	<div class="col">
		<input type="tel" size="2" min="0" 
			pattern="[0-9]*"
			ut-restrict="[0-9]"
			ut-select-on-click
			ng-model="vm.data.duration.hours"/>
	</div>
	<div class="col">
		<input type="tel" size="2" min="0" max="60" 
			pattern="[0-9]*"
			ut-restrict="[0-9]"
			ut-select-on-click
			ng-model="vm.data.duration.minutes"/>
	</div>
	<div class="col">
		<input type="tel" size="2" min="0" max="60" 
			pattern="[0-9]*"
			ut-restrict="[0-9]"
			ut-select-on-click
			ng-model="vm.data.duration.seconds"/>
	</div>
</div>
<div class="centered assertive" ng-if="vm.durationIsZero()">
	<strong>Please enter a duration</strong>
</div>

<ut-note ng-model="vm.note"></ut-note>
