<ion-view title="Add Activity: {{vm.newActivity.name}}">
	<ion-nav-button side="left">
	<ion-nav-back-button class="ion-ios-arrow-back" style="">
	      </ion-nav-back-button>
	</ion-nav-button>

	<ion-content class="padding custom-content">
		<div class="row">
			<div class="col">Hours:</div>
			<div class="col">Minutes:</div>
			<div class="col">Seconds:</div>
		</div>
		<div class="row">
			<div class="col">
				<input type="tel" size="2" min="0" max="24"
					pattern="[0-9]*"
					ut-restrict="[0-9]"
					ng-model="vm.newActivity.duration.hours"/>
			</div>
			<div class="col">
				<input type="tel" size="2" min="0" max="60" 
					pattern="[0-9]*"
					ut-restrict="[0-9]"
					ng-model="vm.newActivity.duration.minutes"/>
			</div>
			<div class="col">
				<input type="tel" size="2" min="0" max="60" 
					pattern="[0-9]*"
					ut-restrict="[0-9]"
					ng-model="vm.newActivity.duration.seconds"/>
			</div>
		</div>
		<div class="row centered assertive">
			<strong>Duration must be at least 1 second</strong>
		</div>
	</ion-content>	

	<div class="bar bar-footer">
		<button class="button col" ui-sref="tab.dash">
	      Cancel
	    </button>
		<span class="col"></span>
	    <button class="button button-positive col" ng-disabled="vm.getDuration() <= 0" ut-click="vm.addActivity()">
	      Add
	    </button>
	</div>
</ion-view>
