<ion-view title="Add Activity">
	<ion-nav-button side="left">
	<ion-nav-back-button class="ion-ios-arrow-back" style="">
	      </ion-nav-back-button>
	</ion-nav-button>

	<ion-content class="padding custom-content">

		<div>Hours : Minutes : Seconds</div>
		<div>
			<input type="number" size="2" min="0" ng-model="vm.newActivity.duration.hours"/>
			<input type="number" size="2" min="0" max="60" ng-model="vm.newActivity.duration.minutes"/>
			<input type="number" size="2" min="0" max="60" ng-model="vm.newActivity.duration.seconds"/>
		</div>
		
	</ion-content>	

	<div class="bar bar-footer">
		<button class="button col" ui-sref="tab.dash">
	      Cancel
	    </button>
		<span class="col"></span>
	    <button class="button button-positive col" ng-click="vm.addActivity()">
	      Add
	    </button>
	</div>
</ion-view>
