<ion-view title="Universal Tracker">
  <ion-nav-buttons side="right" class="settings-icon">
    <a class="ion-android-more-vertical settings-button" ng-click="vm.clickSettings()"></a>
  </ion-nav-buttons>
  <ion-content class="padding custom-content">
    <ion-list>
      <ion-item ng-repeat="activity in vm.activities track by $index" type="item-text-wrap" ng-class="{'selected': activity.interval != undefined}">

        <ut-single-activity ng-if="activity.type === 'single'" activity="activity">
        </ut-single-activity>
        <ut-multi-activity ng-if="activity.type === 'multi'" activity="activity">
        </ut-multi-activity>
        <ut-duration-activity ng-if="activity.type === 'duration'" activity="activity">
        </ut-duration-activity>
        <ut-countdown-activity ng-if="activity.type === 'countdown'" activity="activity">
        </ut-countdown-activity>
        
      </ion-item>
    </ion-list>
  </ion-content>

  <md-button class="md-fab md-primary add-button" aria-label="Add activitiy" ui-sref="add-activity.name">
    <md-icon class="plus-icon" md-svg-src="img/plus.svg"></md-icon>
  </md-button>
</ion-view>
