.selected {
    background-color:#e93e5a;
    color: white;
}

.title, .tabs {
    color: #fff !important;
    background-color: #00b8e7 !important;
    margin: 0 !important;
}

.custom-content{
    background-color: #eee;
}

.activity_title{
    margin-left: 10px;
    line-height: 36px;
    float:left;
}

.activity_duration{
    float: right;
    line-height: 30px;
}

.item_description{
    float:left;
    width: 100%;
}

.activity_icon{
    width: 30px;
    height: 30px;
    float:left;
}

.history_duration{
    color: #e93e5a;
}

.item-center{
    background-color: #e7e9ee;
    text-align:center;
}

.chart_iframe{
    height: 100%;
    width: 100%;
}

.item_controls{
    float:left;
    width: 10%;
}

.duration_time {
    padding-left: 10px;
    width: 100px;
    height: 25px;
    margin-top: 5px;
    float:left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    line-height: 25px;
}

.circle, .duration_time {
    background-color: rgba(218, 215, 215, 1);
}

.circle{
    width: 36px;
    float: left;
    height: 36px;
    border-radius: 50px;
    margin-left: -27px;
    padding: 8px 11px;
    font-size: 24px;
}

.icon {
    font-size: 28px;
    padding: 4px 7px;
}

.right{
    float: right;
}

.circle-select {
    background-color: rgba(218, 215, 215, 1);
    width: 36px;
    float: left;
    height: 36px;
    border-radius: 50px;
    font-size: 24px;
    padding: 0px 11px;
}

.icon-select {
    padding: 0.5px 9.5px;
}

.select {
    padding-top: 8px;
    padding-left: 40px;
}

.duration_seconds {
    
}

.duration_time_selected, .duration_seconds_selected{
    background-color: rgba(223, 197, 68, 1);
}

input[type="number"] {
   padding: 5px;
}

.bar-main {
    background-color: #00B8E7 !important;
    border-color: rgba(0, 0, 0, 0.31) !important;
    font-size: 25px !important;
}

.no-border {
		border: none;
		border-style: none;
}

.item-content {
    padding: 15px 2px 16px 2px !important;
}

.item-reorder {
    padding: 0px !important;
    width: 45px !important;
}

body.platform-ios .bar-stable .buttons.right-buttons {
		margin-top:0!important;
}

input[type="text"] {
	padding: 5px;
}

.add-button {
    z-index: 12 !important;
    position: absolute !important; 
    bottom: 10px !important;
    right: 10px !important;
    background-color: #00B8E7!important;
}

.settings-button {
    color: white;
    padding: 5px;
}

.plus-icon {
    width: 36px;
    height: 36px;
}

.radio-button {
    padding-left: 5px;
}

.tab-item .icon {
    height: 34px;
}

.bar-footer {
    height: 64px;
}

.centered {
    text-align: center;
}

.back-text {
    color: white;
}

.has-footer {
    margin-bottom: 20px;
}

.modal {
    min-height: initial;
}